@{
    this.ViewData["Title"] = "All Exercise";
}

<form asp-controller="Exercises" asp-action="Create" method="get">
    <button type="submit" class="btn btn-primary">Add Exercises</button>
</form>


@foreach (var item in Model.Exercises)
{
    if (item.TypeOfGender.ToString() == "Women")
    {
        continue;
    }
    <div class="row blog-page">
        <div class="col-md-9">

            <p>
                @item.Title
            </p>
            <div class="blog margin-bottom-40">


                <div class="blog-img">
                    <div class="responsive-video">
                        <iframe src="https://www.youtube.com/embed/dluB5VE1m1k" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                    </div>
                </div>
                <div>
                    @item.Content
                </div>
                <div class="button-holder">
                    <a href="/Exercises/Details?exerciseId=@item.Id" class="btn btn-info text-uppercase">Info</a>
                </div>

            </div>
        </div>
    </div>
    }
