@{
    this.ViewData["Title"] = "All Exercise";
}

<form asp-controller="Exercises" asp-action="Create" method="get">
    <button type="submit" class="btn btn-primary">Add Exercises</button>
</form>


@foreach (var item in Model.Exercises)
{
    if (item.TypeOfGender.ToString() == "Women")
    {
        continue;
    }
    <div class="row blog-page">
        <div class="col-md-9">

            <p>
                @item.Title
            </p>
            <div class="blog margin-bottom-40">

                <iframe width="420" height="315"
                        src="https://www.youtube.com/watch?v=dluB5VE1m1k&feature=youtu.be">
                </iframe>


                <div class="blog-img">
                    <div class="responsive-video">
                        <iframe src="https://www.youtube.com/embed/dluB5VE1m1k" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                    </div>
                </div>
                <div class="button-holder">
                    <a href="/Exercises/Details?exerciseId=@item.Id" class="btn btn-info text-uppercase">Info</a>
                </div>

            </div>
        </div>
    </div>
}



<div id="player-and-controls-wrapper" class="text-center full-height full-width clearfix video-resource-wrapper embed-responsive embed-responsive-16by9">
    <script src="https://www.youtube.com/watch?v=YafXXQeBnaI&list=RDYafXXQeBnaI&index=1"></script>
    <iframe id="player" frameborder="0" allowfullscreen="1" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="100%" height="100%" src="https://www.youtube.com/watch?v=YafXXQeBnaI&list=RDYafXXQeBnaI&index=1"></iframe>
    <div class="speed-controls">
        <button id="speed-control-down"><i class="fa fa-fw fa-chevron-down"></i></button>
        <span id="speed-value">1</span>
        <button id="speed-control-up"><i class="fa fa-fw fa-chevron-up"></i></button>
    </div>
    <div class="video-controls">
        <div class="pull-left">
            <button id="play-pause"><i class="fa fa-fw fa-play"></i></button>
            <button id="mute-unmute"><i class="fa fa-fw fa-volume-up"></i></button>
        </div>
        <div class="pull-right" id="change-screen-wrapper">
            <button id="fullscreen"><i class="fa fa-fw fa-arrows-alt"></i></button>
        </div>
    </div>
</div>