
@{
    ViewData["Title"] = "Info";
}

<h1 class="text-center"><span class="badge badge-pill badge-dark">Details</span></h1>
<div class="container-fluid bg-blur w-50 text-center">
    <h2 class="text-dark text-center">@Model.Title</h2>
    <video width="320" height="240" controls>
        <source src="https://www.youtube.com/watch?v=YafXXQeBnaI&list=RDYafXXQeBnaI&start_radio=1" type="video/mp4">
        <source src="https://www.youtube.com/watch?v=YafXXQeBnaI&list=RDYafXXQeBnaI&start_radio=1" type="video/ogg">
    </video>
    <h3 class="text-dark text-center mt-2">@Model.Content</h3>
    <a href="/Exercises/Delete?id=Id" class="btn btn-danger text-white mt-2">Delete Exercises</a>
</div>
