@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Edit Exercise</span></h1>
<hr class="hr-3" />
<form class="mx-auto w-50 bg-blur" action="/Exercises/Update?exerciseId=@Model.ExerciseId" method="post">
    <div class="form-group">
        <div class="text-white label-holder d-flex justify-content-center">
            <label for="title" class="h4 mb-2">Title</label>
        </div>
    </div>
    <div>
        <h5 class="text-white">New title:</h5>
    </div>
    <input type="text" class="form-control" id="title" name="title" value="@Model.Title"></input>
    <div class="form-group">
        <div class="text-white label-holder d-flex justify-content-center">
            <label for="content" class="h4 mb-2">Content</label>
        </div>
        <div>
            <h5 class="text-white">New content:</h5>
        </div>
        <textarea type="text" class="form-control" id="content" name="content" value="@Model.Content">@Model.Content</textarea>
    </div>
    <div class="form-group">
        <div class="text-white label-holder d-flex justify-content-center">
            <label for="video" class="h4 mb-2">Video</label>
        </div>
        <div>
            <h5 class="text-white">New video:</h5>
        </div>
        <input type="text" class="form-control" id="video" name="video" value="@Model.Video"></input>
    </div>
    <div class="form-group">
        <div class="text-white label-holder d-flex justify-content-center">
            <label for="gender" class="h4 mb-2">Gender</label>
        </div>
        <div class="text-white label-holder d-flex justify-content-center">
            <select styleClass="browser-default custom-select" id="gender" name="gender">
                <option value="Man">Male</option>
                <option value="Woman">Female</option>
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
</form>