
@{
    ViewData["Title"] = "Exercises";
}


<form asp-controller="Exercises" asp-action="AddExercises" method="get">
    <button type="submit" class="btn btn-primary">Add Exercises</button>
</form>


