@{
    this.ViewData["Title"] = "All Exercise";
}

<form asp-controller="Exercises" asp-action="Create" method="get">
    <button type="submit" class="btn btn-success">Add Exercises</button>
</form>


@foreach (var item in Model.Exercises)
{
    <div class="row blog-page">
        <div class="col-md-9">

            <h1 class="text-white">
                @item.Title
            </h1>
            <div class="blog margin-bottom-40">

                <div class="blog-img">
                    <div class="responsive-video text-white">
                        <iframe src="https://www.youtube.com/embed/@item.Video" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                    </div>
                </div>

                <div class="button-holder d-flex justify-content-between text-white">
                    <a href="/Exercises/Details?exerciseId=@item.Id" class="btn btn-success text-decoration-none">Details</a>
                    <div class="button-holder text-white">
                        <a href="/Exercises/Edit?exerciseId=@item.Id" class="btn btn-danger text-decoration-none">Edit Post</a>
                    </div>
                    <div class="button-holder text-white">
                        <a href="/Exercises/Delete?exerciseId=@item.Id" class="btn btn-danger text-decoration-none">Delete Exercise</a>
                    </div>

                </div>

            </div>
        </div>
    </div>
}
