
@{
    ViewData["Title"] = "Diets";
}

<form asp-controller="Diets" asp-action="Create" method="get">
    <button type="submit" class="btn btn-primary">Add Diet</button>
</form>



<section class="py-5">
    <div class="container">
        <h1 style="margin: 2%; text-align: center;">All Diets</h1>
        <div style="padding: 5%;">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Diets)
                    {
                        if (item.TypeOfGender.ToString() == "Man")
                        {
                            continue;
                        }
                        <tr>
                            <th scope="row">@item.Title</th>
                            <td>@item.Description</td>
                            <td>
                                <div class="button-holder">
                                    <a href="/Diets/Details?tripId=@item.Id" class="btn btn-info text-uppercase">Info</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>