
@{
    ViewData["Title"] = "Info";
}

<h1 class="text-center"><span class="badge badge-pill badge-dark">Details</span></h1>
<div class="container-fluid bg-blur w-50 text-center">
    <h2 class="text-dark text-center">@Model.Title</h2>
    <h3 class="text-dark text-center mt-2">@Model.Description</h3>
    <a href="/Diets/Delete?dietId=@Model.Id" class="btn btn-info text-uppercase">Delete Diet</a>
</div>