
@{
    ViewData["Title"] = "Diets";
}

<form asp-controller="Diets" asp-action="Create" method="get">
    <button type="submit" class="btn btn-success">Add Diet</button>
</form>



@foreach (var item in Model.Diets)
{
    <div class="row blog-page">
        <div class="col-md-9">
            <h1 class="text-white">
                @item.Title
            </h1>
            <div class="blog margin-bottom-40 d-flex justify-content-between">
                <div class="button-holder text-white">
                    <a href="/Diets/Details?dietId=@item.Id" class="btn btn-success text-decoration-none">Details</a>
                </div>
                <div class="button-holder text-white">
                    <a href="/Diets/Edit?dietId=@item.Id" class="btn btn-danger text-decoration-none">Edit Post</a>
                </div>
                <div class="button-holder text-white">
                    <a href="/Diets/Delete?dietId=@item.Id" class="btn btn-danger text-decoration-none">Delete Diet</a>
                </div>

            </div>
        </div>
    </div>
}