@using FitMe.Common
@{
    this.ViewData["Title"] = "Categories";
}

<form asp-controller="Categories" asp-action="MansExercises" method="get">
    <button type="submit" class="btn btn-primary">Mans</button>
</form>




<form asp-controller="Categories" asp-action="WomansExercises" method="get">
    <button type="submit" class="btn btn-primary">Womans</button>
</form>
