@using FitMe.Common
@{
    this.ViewData["Title"] = "Categories";
}

<button type="button" class="btn-link text-dark" asp-area="" asp-controller="Categories" asp-action="Exercises">Mans</button>
<button type="button">Womans</button>
