@{
    this.ViewData["Title"] = "Mans";
}

<form asp-controller="Diets" asp-action="All" method="get">
    <button type="submit" class="btn btn-primary">Diets</button>
</form>



<form asp-controller="Exercises" asp-action="AllForMans" method="get">
    <button type="submit" class="btn btn-primary">Exercises</button>
</form>

