@{
    this.ViewData["Title"] = "WomansExercisesExercises";
}

<form asp-controller="Diets" asp-action="All" method="get">
    <button type="submit" class="btn btn-primary">Diets</button>
</form>




<form asp-controller="Exercises" asp-action="AllForWomans" method="get">
    <button type="submit" class="btn btn-primary">Exercises</button>
</form>

<span class="wpex-menu-search-icon ticon ticon-search" aria-hidden="true"></span>