@using FitMe.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Welcome to @GlobalConstants.SystemName!</h1>
    <h2 class="display-3">Learn how to transform your body!</h2>
    <p class="display-3">If you want to help someone to learn how to fit his body, make a registration and add your exercise or diet!</p>
</div>
