@{
    ViewData["Title"] = "Not Found";
}

<div>
    <h2 class="text-white">Опааа, нещо се счупи :)</h2>
    <h3 class="text-white">Something went wrong! We'll tell about the porblem to ours admin! Please, try again later!</h3>
</div>