@model FitMe.Web.ViewModels.Comments.CreateCommentInputModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center text-white mt-2"><span class="badge badge-pill badge-dark">Add Comment</span></h1>
<hr class="hr-3" />
<form class="mx-auto w-50 bg-blur" action="/Comments/Create?postId=@Model.PostId" method="post">
    <script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
    @*<script type="text/javascript">
        tinymce.init({
            selector: "textarea",
            plugins: [
                "image paste table link code media"
            ]
        });
    </script>*@

    <form method="post" asp-action="Create">
        <div>
            <label class="text-white" asp-for="Content"></label>
            <textarea asp-for="Content" class="form-control"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <div class="margins">
            <form asp-controller="Comments" asp-action="Create" method="post">
                <button type="submit" class="btn btn-success text-center">Add Comment</button>
            </form>
        </div>
    </form>
</form>


